# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
out/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma
packages/database/prisma/migrations/dev/
packages/database/src/generated/
packages/database/.env
packages/api-contracts/src/generated/*
!packages/api-contracts/src/generated/.gitkeep

# Husky
.husky/_

# Misc
*.tsbuildinfo
.env.vercel
